 
{% load static %}
<!DOCTYPE html>
<html>
<body>
    <script type ="text/javascript" src = "{% static 'home/js/home.js' %}" ></script>
    <link rel="stylesheet" href = "{% static 'home/css/home.css' %}" ></link>
    <a href = "http://127.0.0.1:8000/home/face_recognize"><button>얼굴인식 시작 = >esc누르면 촬영 </button></a>

    <p>얼굴인식 결과</p>

    {% for emoji in emoji_list %}
        <span>{{ emoji }}</span>
    {% endfor %}
    <p>위에는 혹시나 해서 넣어본 따로 쓰는 방법</p>
    <p id="emoji_list">{{ emoji_list }}</p>


    <a href = "http://127.0.0.1:8000/home/voice_recognize"><button>음성인식 시작</button></a>
    <p> 말을 멈추면 자동으로 인식됩니다.(영어만 가능)</p>
    <p id="voice">{{ voice }}</p>

    <p> js 로 가져오기 예시</p>
    <p id="demo"></p>

    <script type ="text/javascript" src = "{% static 'home/js/voice.js' %}" ></script> 
    
    <script>
    window.onload = myFunction;
    function myFunction() {
      var voice = document.getElementById("voice").innerText;
      //document.getElementById("voice_2").innerHTML = voice;  

      var emoji_list = document.getElementById("emoji_list").innerText;
    }
    </script>


</body>
</html>
